{% extends "base.html" %}
{% load static %}

{% block titulo %}
Reptiles - Principal
{% endblock titulo %}

{% block contenido%}
 <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">BIENVENIDO</h1>
            <p class="lead mb-0">En este blog veras la belleza de la naturaleza que nos rodea</p>
        </div>
    </div>
</header>
<br>
<img src="{% static 'images/inicio.jpg' %}" alt="inicio" width="1600" height="900">
{% endblock contenido %}